/* DEVELOPER: Yaneli Cestona, IS117-102, Spring 2024 */

/* the styles for nav */
.navbar {
    position: fixed;
    width: 100%;
    background-color: white !important;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 3;
}
.navbar-toggler {
    margin-left: auto !important;
    margin-right: 16px;
}
.navbar-collapse {
    background-color: white;
}


.site-logo {
    padding-top: unset;
    padding-bottom: unset;
    margin-left: 2px;
    width: 70px;
    height: 60px;
    background-image: url("../img/dino_down.jpg");
    background-repeat: no-repeat;
    background-size: 3.5rem;
    transition: background-image;
}
.navbar:hover .site-logo {
    background-image: url("../img/dino_up.jpg");
}


.site-name {
    font-family: Noi Grotesk, sans-serif;
    font-size: calc(15px + 0.390625vw);
    color: black;
    padding: 0 13px 0 5px;
    text-decoration: none;
    float: none;
}


.under-nav {
    padding-top: 40px;
    margin-top: 30px;
}
.num-col {
    padding-top: 30px;
}


.link-hov:hover {
    color: #FF5841 !important;
}
.btn-primary:hover {
    background: #0d6efd;
    color: #FF5841;
}
.btn-outline-secondary:hover {
    background: rgba(178, 178, 178, 0.15);
    color: #FF5841;
}


.site-links {
    font-family: Noi Grotesk, sans-serif;
    font-size: 18px;
    margin-left: auto !important;
    /*padding-right: 16px;*/
}
.site-links li {
    padding-right: 35px;
}
.site-links li a {
    font-weight: bold;
    color: black !important;
}

.site-links li:last-child {
    padding-right: 16px;
}


/* the styles for elements directly under nav */
.under-nav {
    padding-top: 40px;
    margin-top: 30px;
}
.top-body {
    padding-top: 30px;
}


/* the styles for progress bar */
.scroll-header {
    position: fixed;
    /*top: 20px;*/
    z-index: 2;
    width: 100%;
    background-color: #f1f1f1;
}
.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
}
/* scroll indicator */
.progress-bar {
    height: 8px;
    background: #C53678;
    width: 0;
}




@media only screen and (max-width: 1050px) {
    .site-links {
        font-size: 120%;
    }
}

@media only screen and (max-width: 880px) {
    .navbar {
        padding-bottom: 6px;
    }

    .site-links {
        font-size: 110%;
    }
}

@media only screen and (max-width: 770px) {
    .navbar {
        height: 70px;
        padding-bottom: 5px;
    }
}

@media only screen and (max-width: 750px) {
    .navbar {
        padding-bottom: 15px;
    }
}


@media only screen and (max-width: 330px) {
    .site-name {
        font-size: calc(5px + 2.6vw);
    }
}


@media only screen and (max-width: 300px) {
    .site-name {
        font-size: calc(5px + 2vw);
    }
    .navbar-toggler {
        width: 11vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.3vw;
    }

    .navbar-toggler-icon {
        width: 1.5em;
        margin: 0;
    }
}