/* DEVELOPER: Yaneli Cestona, IS117-102, Spring 2024 */

/* the styles for the home page */

.home-body {
    padding-bottom: 10%;
}

/* the styles for the cards */
#cards {
    text-align: center;
    padding: 30px 0;
}

/* the styles for the jumbotron */
.jumbo a {
    font-size: calc(5px + 1vw);
}

/* the styles for the paragraphs */
.art-paragraphs {
    text-indent: 70px;
    font-size: calc(5px + 0.7vw) !important;
}
.work-cited {
    font-size: calc(13px + 0.1vw) !important;

}



@media only screen and (max-width: 1900px) {
    .card-text {
        font-size: calc(5px + 0.7vw);
    }
}

@media only screen and (max-width: 1200px) {
    .card-deck #card-text1 {
        font-size: calc(5px + 1.3vw) !important;
    }
    .card-deck #card-text2 {
        font-size: calc(5px + 1.3vw) !important;
    }
    .card-deck #card-text3 {
        font-size: calc(5px + 1.3vw) !important;
    }
    .art-paragraphs {
        text-indent: 70px;
        font-size: calc(13px + 0.1vw) !important;
    }
}

@media only screen and (max-width: 1050px) {
    .jumbo {
        max-width: 900px;
    }
    .jumbo h1 {
        font-size: calc(5px + 2.6vw);
    }
    .jumbo p {
        font-size: calc(5px + 2vw) !important;
    }
    .card-deck {
        max-width: 860px;
    }
    .footer .row:last-child {
        margin-right: -4%;
    }
}

@media only screen and (max-width: 850px) {
    .home-body h5 {
        font-size: 118% !important;
    }
}

@media only screen and (max-width: 830px) {
    .card-deck #card-text1 {
        font-size: calc(5px + 1.4vw) !important;
    }
    .card-deck #card-text2 {
        font-size: calc(5px + 1.4vw) !important;
    }
    .card-deck #card-text3 {
        font-size: calc(5px + 1.4vw) !important;
    }
}

@media only screen and (max-width: 770px) {
    .home-body {
        padding-bottom: 15%;
    }
}

@media only screen and (max-width: 760px) {
    .home-body h5 {
        font-size: calc(14px + 1vw) !important;
    }
    .jumbo {
        max-width: 700px;
    }
    .jumbo a {
        font-size: calc(10px + 0.8vw);
    }
    .card-deck {
        max-width: 680px;
    }
}

@media only screen and (max-width: 700px) {
    .home-body .card-deck h5 {
        font-size: calc(14px + 0.9vw) !important;
    }
}

@media only screen and (max-width: 700px) {
    .card-deck #card-text1 {
        font-size: calc(14px + 0.5vw) !important;
    }
    .card-deck #card-text2 {
        font-size: calc(14px + 0.5vw) !important;
    }
    .card-deck #card-text3 {
        font-size: calc(14px + 0.5vw) !important;
    }
}

@media only screen and (max-width: 650px) {
    .home-body h5 {
        font-size: 108% !important;
    }

}

@media only screen and (max-width: 615px) {
    .home-body h5 {
        font-size: 100% !important;
    }
}

@media only screen and (max-width: 550px) {
    .jumbo h1 {
        font-size: calc(15px + 1vw);
    }
}

@media only screen and (max-width: 520px) {
    .home-body h5 {
        font-size: 93% !important;
    }

}

@media only screen and (max-width: 495px) {
    .home-body h5 {
        font-size: 88% !important;
    }
}

@media only screen and (max-width: 450px) {
    .home-body h5 {
        font-size: 83% !important;
    }
    .jumbo p {
        font-size: calc(12px + 0.8vw) !important;
    }

}

@media only screen and (max-width: 430px) {
    .home-body {
        padding-bottom: 25%;
    }
}

@media only screen and (max-width: 420px) {
    .home-body h5 {
        font-size: 75% !important;
    }
    .card-deck #card-text1 {
        font-size: calc(13px + 0.5vw) !important;
    }
    .card-deck #card-text2 {
        font-size: calc(13px + 0.5vw) !important;
    }
    .card-deck #card-text3 {
        font-size: calc(13px + 0.5vw) !important;
    }
}

@media only screen and (max-width: 360px) {
    .jumbo a {
        font-size: calc(12px + 0.3vw);
    }
    #cards {
        padding: 15px 0 !important;
    }
}



@media only screen and (max-width: 332px) {
    .jumbo a {
        font-size: calc(10px + 0.1vw);
    }
}

@media only screen and (max-width: 305px) {
    .jumbo a {
        font-size: calc(8px + 0.3vw);
    }
}

@media only screen and (max-width: 300px) {
    .jumbo-btns div {
        gap: 15px !important;
    }
    .jumbo .btn-primary {
        /*font-size: 2.4vw;*/
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .jumbo .btn-outline-secondary {
        /*font-size: 2.4vw;*/
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media only screen and (max-width: 281px) {
    .jumbo a {
        font-size: calc(10px + 0.5vw);
    }
}

@media only screen and (max-width: 278px) {
    .jumbo a {
        font-size: calc(8px + 0.5vw);
    }
}

@media only screen and (max-width: 225px) {
    .jumbo-btns div {
        gap: 15px !important;
    }
    .jumbo .btn-primary {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .jumbo .btn-outline-secondary {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (max-width: 200px) {
    .jumbo-btns div {
        gap: 15px !important;
    }
    .jumbo .btn-primary {
        font-size: 2.2vw;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .jumbo .btn-outline-secondary {
        font-size: 2.2vw;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}